BasedOnStyle: Google,
Language: Cpp,
IndentWidth: 4,
AllowShortFunctionsOnASingleLine: true
AlignEscapedNewlinesLeft: true
AlignTrailingComments: true
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortFunctionsOnASingleLine: true
